.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    z-index: 2;

}

.navbar-brand {
    font-weight: 500;
    color:#2c18ca;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    position: relative;
    color: #666777;
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #3f25d4;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section {

    width:100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6) ;
    content:"";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section.container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

.Fields {
    display: flex;
    justify-content:center;
    margin: 10px 0;
  }
  
  .input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  
  .btn  {
    display: block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #444;
  }

  #add-pop {
    display: none;
    position: fixed;
    top: 250px;
    left: 30px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 2;
  }
  
  #add-pop.active {
    display: block;
  }
  
  .list {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .tabulaBox {
    margin-top: 30px;
    overflow-x: auto;
    background-color: transparent;
    backdrop-filter: brightness(40%);
    color: #fff;
  }
  
  .table-sortable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .table-sortable th {
    border: 2px solid #b7b0b0;
    padding: 10px;
  }
  
  .table-sortable td {
    border: 2px solid #b7b0b0;
    padding: 10px;
    color:#fff;
  }

  
  .dzest1, .labot1 {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dzest1 {
    background-color: #ff4d4d;
    color: #fff;
  }
  
  .labot1 {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .dzest1:hover, .labot1:hover {
    background-color: #e60000;
  }
  
  /* Media queries */
  
  @media only screen and (max-width: 768px) {
    .Fields {
      flex-direction: column;
    }
    
    .input {
      width: calc(100% - 20px);
    }
    
    #add-pop {
      top: 120px;
      right: 10px;
    }
  }
  
  button#add-btn {
    display: block;
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #3f25d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 2;
  }
  
  button#close-btn {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f50000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
